
/* Global styles
---------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  /*background: lightblue;*/
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a{
  /*color: red;*/
  color: #EF233C;
}
a:hover{
  text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}

/*
forestgreen #228B22
mediumturquoise #48D1CC
cyan #00FFFF
turquoise #40E0D0
paleturquoise #AFEEEE
lightcyan #E0FFFF
lightgray #D3D3D3
lavender #E6E6FA

*/
/* Header and Footer
-------------------*/
header,footer{
  /*background: #2B2D42;*/
  background: #008B8B;
  /*color: #8D99AE;*/
  color: #021310;
}
header h1, header h2{
  color: #021310;
  margin: 0;
}
/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
/* certification
-------------------*/
.certification{
  background: #E0FFFF;
}
/* volunteer
-------------------*/
.volunteer{
  background: #AFEEEE;
}

/* work experience
-------------------*/
.work{
  background: #E0FFFF;
}

/* education
-------------------*/
.education{
  background: #AFEEEE;
}
